<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All customized preferences
    </h1>

    <a href="/customized_preferences/new" class="btn btn-block btn-outline-secondary">
      Add a new customized preference
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "customized_preference_templates/customized_preferences_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Event
        </th>

        <th>
          User
        </th>

        <th>
          Transaction amount
        </th>

        <th>
          Goal
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @customized_preferences.each do |customized_preference| %>
      <tr>
        <td>
          <%= customized_preference.id %>
        </td>

        <td>
          <% if customized_preference.event.present? %>
            <a href="/events/<%= customized_preference.event.id %>">
              <%= customized_preference.event.name %>
            </a>
          <% end %>
        </td>

        <td>
          <% if customized_preference.user.present? %>
            <a href="/users/<%= customized_preference.user.id %>">
              <%= customized_preference.user.email %>
            </a>
          <% end %>
        </td>

        <td>
          <%= customized_preference.transaction_amount %>
        </td>

        <td>
          <% if customized_preference.goal.present? %>
            <a href="/goals/<%= customized_preference.goal.id %>">
              <%= customized_preference.goal.user_id %>
            </a>
          <% end %>
        </td>

        <td>
          <%= time_ago_in_words(customized_preference.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(customized_preference.updated_at) %> ago
        </td>

        <td>
          <a href="/customized_preferences/<%= customized_preference.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @customized_preferences, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
