<%= search_form_for @q, :class => collapse_search_form, :id => "goals_filters" do |f| %>
  <p class="lead">Narrow results:</p>

  <div class="form-group">
    <%= f.label :deadline, "Deadline" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='deadlinegteqPicker' data-target-input="nearest">
          <%= f.text_field :deadline_gteq, :class => "form-control datetimepicker-input", :placeholder => "Deadline greater than or equal to", :data => {:target => '#deadlinegteqPicker'} %>
          <div class="input-group-append" data-target='#deadlinegteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='deadlinelteqPicker' data-target-input="nearest">
          <%= f.text_field :deadline_lteq, :class => "form-control datetimepicker-input", :placeholder => "Deadline less than or equal to", :data => {:target => '#deadlinelteqPicker'} %>
          <div class="input-group-append" data-target='#deadlinelteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#deadlinegteqPicker').datetimepicker({
              format: 'MM/DD/YYYY'
          });
          $('#deadlinelteqPicker').datetimepicker({
              useCurrent: false,
              format: 'MM/DD/YYYY'
          });
          $('#deadlinegteqPicker').on("dp.change", function (e) {
              $('#deadlinelteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#deadlinelteqPicker').on("dp.change", function (e) {
              $('#deadlinegteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>

  <div class="form-group">
    <%= f.label :current_amount_cont, "Current amount contains" %>
    <%= f.text_field :current_amount_cont, :class => "form-control", :placeholder => "Current amount contains" %>
  </div>

  <div class="form-group">
    <%= f.label :goal_amount_cont, "Goal amount contains" %>
    <%= f.text_field :goal_amount_cont, :class => "form-control", :placeholder => "Goal amount contains" %>
  </div>

  <div class="form-group">
    <%= f.label :d_or_s_eq, "D or s" %>
    <div>
      <label class="radio-inline">
        <%= f.radio_button :d_or_s_eq, "1", checked: ((params[:q] && params[:q][:d_or_s_eq]) == "1" ? "checked" : "") %> Yes
      </label>
      <label class="radio-inline">
        <%= f.radio_button :d_or_s_eq, "0", checked: ((params[:q] && params[:q][:d_or_s_eq]) == "0" ? "checked" : "")%> No
      </label>
      <label class="radio-inline">
        <%= f.radio_button :d_or_s_eq, ""%> Either
      </label>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :name_cont, "Name contains" %>
    <%= f.text_field :name_cont, :class => "form-control", :placeholder => "Name contains" %>
  </div>

  <div class="form-group">
    <%= f.label :description_cont, "Description contains" %>
    <%= f.text_field :description_cont, :class => "form-control", :placeholder => "Description contains" %>
  </div>

  <div class="form-group">
    <%= f.label :created_at, "Created at" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='created_atgteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "Created at greater than or equal to", :data => {:target => '#created_atgteqPicker'} %>
          <div class="input-group-append" data-target='#created_atgteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='created_atlteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "Created at less than or equal to", :data => {:target => '#created_atlteqPicker'} %>
          <div class="input-group-append" data-target='#created_atlteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#created_atgteqPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atlteqPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atgteqPicker').on("dp.change", function (e) {
              $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#created_atlteqPicker').on("dp.change", function (e) {
              $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>


  <div class="form-group">
    <%= f.label :user_email_cont, "User email contains" %>
    <%= f.text_field :user_email_cont, :class => "form-control", :placeholder => "User email contains" %>
  </div>


  <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

  <a href="/goals" class="btn btn-outline-secondary btn-block mb-1">Clear filters</a>

<% end %>

<a class="btn btn-outline-secondary btn-block mb-1" data-toggle="collapse" href="#goals_filters">
  Show filters
</a>
