<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Goal #<%= @goal.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/goals" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link goal start -->
      <div class="col">
        <a href="/goals/<%= @goal.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit goal
        </a>
      </div>
      <!-- Edit link goal end -->

      <!-- Delete link goal start -->
      <div class="col">
        <a href="/delete_goal/<%= @goal.id %>" class="btn btn-block btn-outline-secondary">
          Delete goal
        </a>
      </div>
      <!-- Delete link goal end -->
    </div>

    <dl>
      <dt>
        User
      </dt>
      <!-- Display user_id start -->
      <dd>
        <%= @goal.user_id %>
      </dd>
      <!-- Display user_id end -->

      <dt>
        Description
      </dt>
      <!-- Display description start -->
      <dd>
        <%= @goal.description %>
      </dd>
      <!-- Display description end -->

      <dt>
        Name
      </dt>
      <!-- Display name start -->
      <dd>
        <%= @goal.name %>
      </dd>
      <!-- Display name end -->

      <dt>
        D or s
      </dt>
      <!-- Display d_or_s start -->
      <dd>
        <%= @goal.d_or_s %>
      </dd>
      <!-- Display d_or_s end -->

      <dt>
        Goal amount
      </dt>
      <!-- Display goal_amount start -->
      <dd>
        <%= @goal.goal_amount %>
      </dd>
      <!-- Display goal_amount end -->

      <dt>
        Current amount
      </dt>
      <!-- Display current_amount start -->
      <dd>
        <%= @goal.current_amount %>
      </dd>
      <!-- Display current_amount end -->

      <dt>
        Deadline
      </dt>
      <!-- Display deadline start -->
      <dd>
        <%= @goal.deadline %>
      </dd>
      <!-- Display deadline end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@goal.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@goal.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "goal_templates/goal_customized_preferences" %>
  </div>
</div>
<!-- Show Page Customization end -->
